<div class="container">
  <div class="upper-data">
    <img src="../assets/images/hot.jpg" *ngIf="14 > 15">
    <img src="../assets/images/cold.jpg" *ngIf="14 <= 15">


    <div class="weather-data">
      <div class="location">Bangalore</div>
      <div class="temperature">{{14.40 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
<div class="more-info-label">
  more information
</div>
<div class="more-info-container">
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/images/mintem.webp" alt="" width="50px" height="50px">
      <span>Min</span>
    </div>
    <div class="info-block-value">
      10°C
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/images/maxtem.jpg" alt="" width="50px" height="50px">
      <span>MAX</span>
    </div>
    <div class="info-block-value">
      10°C
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/images/hmdty.jpg" alt="" width="50px" height="50px">
      <span>humidity</span>
    </div>
    <div class="info-block-value">
      85%
    </div>
  </div>
  <div class="info-block">
    <div class="info-block-label">
      <img src="../assets/images/wind.jpg" alt="" width="50px" height="50px">
      <span>wind</span>
    </div>
    <div class="info-block-value">
      11 km/h
    </div>
  </div>
</div>
  </div>
</div>

<router-outlet></router-outlet>